/* Style global */
body{
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
}

/* nav */
nav{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo{
    align-items: center;
    display: flex;
    height: 15vh;
    width: 18%;
}

.logo img{
    width: 100%;
    height: 100%;
}

/* Searchbar */
.searchbar{
    position: relative;
}
.searchbar input{
    width: 500px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 1px solid #DEDEDE;
    background-color: #F5F5F5;
}

.searchbar i{
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.searchbar i:hover{
    color: #2291DB;
    transition-delay: 1ms;
    transition-duration: 1s;
}

/* icon */
.icon{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.icon a{
    color: black;
}

.icon i{
    font-size: 1.2em;
    padding: 12px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
}

.icon i:hover{
    color: #2291DB;
    transition-delay: 1ms;
    transition-duration: 1s;
}

/* menu */
menu{
    margin: 0;
    margin-bottom: 60px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #073763;
    z-index: 10;
}

button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 25px;
    margin: 5px 0;
    width: 20%;
    border: none;
    border-radius: 25px;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #2E5A88;
    outline: none; /* Supprime les bordures de focus par défaut */
}

button:hover {
    cursor: pointer;
}

.option {
    display: none; /* Cacher les options par défaut */
}

button:focus .option,
button:focus-within .option {
    display: grid; /* Affiche les options au focus ou au focus-within */
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 50px); /* Ajuste la largeur en fonction des paddings */
    padding: 0 25px;
    margin-top: 5px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Assure la priorité sur les autres éléments */
}

.option a {
    padding: 10px 0;
    text-decoration: none;
    text-align: left;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #DEDEDE;
}

.option a:hover {
    color: #2291DB;
    transition: 0.3s;
}

.option a:last-child {
    border-bottom: none; /* Supprime la bordure du dernier lien */
}

/* elements */
.elements{
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-weight: bold;
    color: #F5F5F5;
}

.elements a{
    text-decoration: none;
    font-weight: 800;
    color: #F5F5F5;
}

.elements a:hover{
    color: #38acfc;
}

.produits{
    display: flex;
    padding: 0 30px;
    margin-bottom: 60px;
    gap: 30px;
}

.produits-visuel{
    gap: 15px;
    display: flex;
    width: 50%;
}

.produits-visuel-principal{
    display: flex;
    width: auto;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    background-color: pink;
    overflow: hidden;
    border-radius: 5px;
}

.produits-visuel-principal img{
    width: 100%;
    height: 100%;
}

.produits-texte{
    width: 50%;
    padding: 0 20px;
}

.produit-texte-description{
    padding-bottom: 20px;
    border-bottom: 1px solid #DEDEDE;
}

.produit-texte-description h3{
    margin: 20px 0;
}

.stock{
    font-size: 13px;
    font-weight: 700;
    color: #007804eb;
    background-color: #49ec4e9d;
    padding: 5px;
    width: fit-content;
}

.produits-texte-option{
    margin: 20px 0;
}

.tenter{
    margin-bottom: 60px;
    text-align: center;
}

.tenter-articles-placement{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 30px;
}

.tenter-articles{
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    height: 65vh;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    text-decoration: none;
}

.tenter-articles-image{
    height: -webkit-fill-available;
    overflow: hidden;
}

.tenter-articles-image img{
    height: 100%;
    width: 100%;
}

.tenter-articles-content{
    margin: 10px 0;
    text-align: center;
}

.tenter-articles-content-title, .tenter-articles-content-prix{
    margin: 10px 0;
    color: #000;
}

/* footer */
footer{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D5D5D5;
}

footer .footer-text{
    font-size: 13px;
    color: #848484;
    margin: 20px 0;
}